src/to_origin/rv5_images/**/*
src/to_origin/rv5_downloads/**/*
build
.DS_Store
node_modules
npm-debug.log
json
*.php
.sass-cache
sftpCache.json
.ftppass
_site
.jekyll-metadata
src/e2/rv5_images/**/*
src/e2/rv5_downloads/**/*
us-army-homepage
