#addThis
ul{width:98%}#addThis
li{padding:2px
0}#addThis .share_sprite
.textLink{line-height:16px;height:16px;top:-1px;width:70px}#addThis
ul#moreShare{margin-right:0px}#blogBox{margin-top:-10px}#facesOfStrength
#relatedLinks{margin-right:20px}#ako{clear:both;padding-top:10px}#ako
#bottomRow{margin:0
0 0 3px}#ako
#topRow{margin:-1px 0 0 3px}#bottomNews{padding-bottom:4px}#bottomNews
h2{width:788px}#bottomNewsItems{margin-top:24px}#container{margin-bottom:0px}#liveSearch{width:27em}#searchbutton{width:27em;margin-top:2px}{behavior:url("/e2/rv5_images/ie/iepngfix.htc")}*/
#dropDownNav li
ul.news{height:19.7em}#featureBoxTop{margin-bottom:-7px}#gift{clear:both;float:left}#homePlayerContainer p
a{width:140px}#imagesRight
#flickrLogo{padding-right:3px}#leftColNav
li#last{margin-top:-1em}#liveSearch
input{height:14px;margin:5px;width:200px}#liveSearch
input.searchclose{height:20px;margin-top:6px;width:25px}#liveSearchTabs{margin-top:-1px}#rightCol #hotTopics
li{margin:0}#slideshowPage
#leftHeader{margin-bottom:-26px}#soldiersMag{float:left;padding-bottom:10px}#soldiersMag
p{line-height:1.6em;margin-top:-5px}#spotlight{height:14em;margin-bottom:-7px;width:458px}#spotlight
#allFeatures{height:2em}#spotlightImage{margin-top:34px}#topHeadlines li
a{margin:0
0 -0.8em 0}.icon_sprite{display:inline;margin:0
2px}.noFlashVideo{background:none}#overlay{background-color:#000;background-image:none;filter:alpha(opacity=40)}* html
#overlay{position:absolute;height:expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px')}* html
#popup{position:absolute;margin-top:expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop)+'px')}.overlayFill{filter:alpha(opacity=30)}.overlayEffects, .overlay.hover
.overlayEffects{background-image:none}.widgetBox{height:1%}#librarySearch{position:relative}#librarySearch{width:186px}#librarySearch
input{line-height:14px}#librarySearch
#searchIcon{position:relative;right:0px;margin-bottom:-10px;top:-16px}#continuePlusIcon,#continueCheckIcon{left:0px}#contentSelectWrapper{width:620px}.contentSelect{width:280px}#addMediaContainer .contentSelect
h4{margin-top:3px}.contentList{width:600px}.contentList
li{width:290px}.contentList li
.boxText{padding:0
8px;width:192px}.contentList li
.boxContent{width:274px}.contentList li
.deleteItem{background:url(/images/global_sprite.png) no-repeat -238px -20px;width:13px}.contentList li .deleteItem:hover{background:url(/images/global_sprite.png) no-repeat -250px -20px}.contentList li
.itemOverlay{filter:alpha(opacity=40)}.contentList
li.availableDragging{filter:alpha(opacity=60)}.contentList li.ui-draggable-dragging{filter:alpha(opacity=90)}