#addThis
li{padding:2px
0}#ako{margin-top:1em}#bottomNews{padding-bottom:4px}#bottomNewsItems{margin-top:24px}#container{margin-bottom:0px}#dropDownNav li
ul.news{height:22.1em}#slideshowPage
#leftHeader{margin-bottom:-26px}#leftColNav
li#last{margin-top:-1em}#liveSearch
input{height:14px;margin:5px;width:200px}#mediaWrapper{position:relative;overflow:hidden;width:100%;margin:1.4em 0 0 0}#mediaWrapper
img{display:block;margin:0
auto}#mediaWrapper
.caption{line-height:14px;font-style:italic}#mediaWrapper
#flashVersion{margin:1.4em 0 1.4em 0}#mediaWrapper
#feature{display:block;margin:1.4em 0 1.4em 60px;overflow:auto}#mediaWrapper #feature
img{float:left}#socialMedia{margin-bottom:0.5em}#soldiersMag
a.left{padding-bottom:1em}#spotlight
h2{line-height:2em}#spotlight
#allFeatures{height:2em}#spotlightImage{margin-top:34px}.overlayFill{filter:alpha(opacity=30)}#librarySearch{position:relative}#librarySearch
input{line-height:14px}#librarySearch
#searchIcon{display:block;position:absolute;right:0px}#continuePlusIcon,#continueCheckIcon{right:161px}#contentSelectWrapper{width:620px}.contentSelect{width:280px}#addMediaContainer .contentSelect
h4{margin-top:3px}.contentList{width:600px}.contentList
li{width:290px}.contentList li
.boxContent{width:274px}.contentList li
.boxText{padding:0
8px;width:200px}.contentList li
.itemOverlay{filter:alpha(opacity=40)}.contentList
li.availableDragging{filter:alpha(opacity=60)}.contentList li.ui-draggable-dragging{filter:alpha(opacity=90)}