/* Last Modified 2016-04-05 1255 FKM */
.mobileAdMain{height:100px;width:100%;background-image:-webkit-gradient(linear, left top, left bottom, from(#ffdf66), to(#ffcb09));background-image:-webkit-linear-gradient(top, #ffdf66, #ffcb09);background-image:-moz-linear-gradient(top, #ffdf66, #ffcb09);background-image:-ms-linear-gradient(top, #ffdf66, #ffcb09);background-image:-o-linear-gradient(top, #ffdf66, #ffcb09);background-image:linear-gradient(top, #ffdf66, #ffcb09);filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffdf66', EndColorStr='#ffcb09');color:#3D3D3D;margin:0;padding:42px
0 12px 22px}a.mobileAd{font-size:260%;color:#3d3d3d}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit}:focus{outline:0}body{background:#FFF;color:#000;line-height:1}ol,ul{list-style:none}body{background:#7A7A7A url(/e2/rv5_images/main/body_gradient.jpg) repeat-x;color:#3D3D3D;font-family:Verdana,Arial,sans-serif}a{color:#3D3D3D;font-weight:bold;text-decoration:none}a:hover{color:#7B8738}h1,h2,h3,h4,h5,h6{font-weight:bold}h1{font-size:2.6em;line-height:1.2em;padding:8px
0}img{border:1px
solid #3D3D3D}p{font-size:1.1em;line-height:1.4em}#accessibilitytext,#contacttext,#securitytext{clear:both;padding-left:120px;padding-right:220px}#accessibilitytext
ul{margin:2em
0 0 30px}#accessibilitytext
li{line-height:1.6em;margin:1em
0}#ako,#gift{border-top:1px solid #C0C0C0;margin:0
0 1em 0.5em;overflow:auto;padding:1em
0 1em}#gift{clear:both;padding-bottom:0}#ako
#bottomRow{display:block;float:left;font-size:1em;margin:1em
0 0 0.3em;width:95px}#ako #bottomRow
a{font-weight:normal}#ako
#topRow{float:left;font-size:0.9em;display:inline;margin:0
0 0 0.3em;width:95px}#ako img,
#gift
img{border:none;float:left;margin:-0.2em 0 0}#armyLifeNews li,
#institutionNews
li{background:url(/e2/rv5_images/main/diamond_bullet.gif) no-repeat 0 4px}#armyLifeNews li a,
#institutionNews li
a{margin-left:15px}#azcontent{margin:20px
0 0 120px;padding-bottom:3em}#azcontent
a{font-size:12px;font-weight:normal;line-height:1.4em}#azcontent
h2{padding:3em
0 2em}#azcontent h2
a{font-size:1.4em;font-weight:bold}#azcontent
h3{padding:1em
0 2em}#azcontent h3
a{font-size:1.4em;font-weight:bold}#azcontent
p{margin-right:340px}#azmenu{padding:15px
0 0 30px}#azmenuwrapper{background:url(/e2/rv5_images/main/az_bg.jpg) no-repeat;margin:30px
0 0 90px;height:85px;width:730px}#azmenu
a{background-color:#EBEBEB;color:#3D3D3D;font-size:1.2em;line-height:2.2em;padding:2px
6px}#azmenu a:hover{text-decoration:underline}#aztitle{clear:both}#aztitle
h1{margin-left:120px}#breadCrumbs{border-bottom:1px solid #AEAEAE;background-color:#F7F7F7;color:#565656;float:left;font-weight:bold;padding:7px
4px 7px 7px;width:100%}#breadCrumbs
li{display:inline}#bottomNews{background:#fff;border:1px
solid #e1e1e1;border-top:none;display:inline;float:left;margin-left:5px;overflow:hidden;width:782px}#bottomNews
a{display:block;line-height:1.2em;margin:0.5em 0.5em 0 2em}#bottomNews
a.bottomImage{margin-left:20px}#bottomNews
h2{color:#000;margin-bottom:-26px}#bottomNews
h3{font-weight:normal;margin:0.6em 0 0.6em 10px}#bottomNews h3
a{display:inline;font-weight:normal;margin:0;text-transform:uppercase}#bottomNewsFirst{border-left:none}#bottomNewsItems{overflow:hidden;width:782px}#bottomNewsItems
ul{width:6000px}#bottomNewsItems
li{display:inline;float:left}#contacttext a, #securitytext
a{font-weight:normal;line-height:1.4em;text-decoration:underline}#contacttext
h2{border-bottom:1px solid #E2E2E2;border-top:1px solid #E2E2E2;margin:1em
0;padding:0.4em 0}#container{background:#FFF;font-size:62.5%;margin:0
auto 14px;padding:14px
0;overflow:auto;width:996px}#contentBackground{background:url(/e2/rv5_images/main/3column.gif) repeat-y;width:996px;overflow:hidden}#contentBackgroundHome{background:url(/e2/rv5_images/main/2column_home.gif) repeat-y;width:996px;overflow:hidden}#dropDownNav{float:left;font-size:1.1em;width:710px}#dropDownNav
li{background:url(/e2/rv5_images/main/drop_down_border1.gif) no-repeat right;float:left;display:block;height:2.6em;line-height:2.6em;margin:0
-1px;position:relative;z-index:999}#dropDownNav li
a{display:block;padding:0
24px}#dropDownNav li:hover,
#dropDownNav li.sfHover,
#dropDownNav li a:active,
#dropDownNav li:hover a,
#dropDownNav li.sfHover
a{background:url(/e2/rv5_images/main/nav_hover_gradient.gif) repeat-x;color:#3D3D3D}#dropDownNav li
ul{background:#EDEDED url(/e2/rv5_images/main/drop_down_bg.png);border:1px
solid #b6b6b6;border-top:none;display:none;position:absolute;left:0;padding:0;top:29px;width:148px}#dropDownNav li
ul.news{height:21.1em}#dropDownNav li
ul#newsColumn2{left:149px}#dropDownNav li
ul#newsColumn3{left:298px}#dropDownNav li ul
li{background:none;border:none;display:block;font-size:0.9em;height:auto;line-height:2.6em;padding:0}#dropDownNav li ul li a,
#dropDownNav li:hover li a,
#dropDownNav li.sfHover li
a{background:none;color:#3D3D3D;display:block;height:auto;padding:0
0 0 10px;width:139px}#dropDownNav li ul li a:focus,
#dropDownNav li ul li a:hover{background-image:none;background-color:#C4C4C4}#dropDownNavNS{position:absolute;top:10px;left:5px}#dropDownNavNS
li{line-height:15px}#faces{margin:0.9em 0}#faces
a{display:block;margin:1em
0 0 10px;text-align:left}#faces
#facesImage{margin-left:0;text-align:center}#featureBox{background:#e1e0e0;padding:0
0 10px;width:458px}#featureBox
a{font-size:10px}#featureBox h1
a{font-size:25px;line-height:1.2em;padding:8px
0}#featureRelated{font-size:1.2em;color:#7a7a7a;list-style-type:disc;margin:0
18px}#featureRelated
li{margin:0.3em 0 0}#featureRelated li
a{display:block}#featureBox
img{display:block;margin:0
auto}#featureBox h1, #featureBox
p{margin-left:5px;margin-right:15px}#featureBox li
img.video_icon{border:none;display:inline;position:relative;top:0.2em;left:8px}#featureBox
p{margin-bottom:15px}#featureBoxTop{background:url(/e2/rv5_images/main/rounded_gray_top.gif) no-repeat top left;height:5px;width:458px}#footer{background:#4E4E4E;clear:both;color:#E3E3E3;font-size:1.2em;padding:5px
10px;overflow:auto;width:976px}#footer
a{color:#E3E3E3;font-weight:normal}#footer
ul{text-align:center}#footer
li{display:inline;margin-right:15px}#footerLeft,#footerMiddle{float:left}#footerLeft,#footerRight{width:125px}#footerMiddle{margin:1.6em auto 0.4em;width:720px}#footerRight{float:right;text-align:right}#footerRight
a{color:#FFD54A}#header{background:url(/e2/rv5_images/main/header.gif) no-repeat;border-bottom:1px solid #8f8f8f;height:151px;width:996px}#headerStar{display:block;position:relative;top:24px;left:15px;height:102px;width:80px}#homePlayer{float:left;margin-left:2px;width:306px;height:342px}#homePlayerContainer{background:#fff;border:1px
solid #E7E7E7;float:left;width:310px;padding-top:10px}#homePlayerContainer
p{float:left;background:#fff}#homePlayerContainer p
a{display:block;float:left;font-size:1em;margin:0.4em 0.4em 0.4em 5px;width:145px}#images{margin-bottom:0.4em;overflow:hidden}#images
h2{margin-bottom:0px}#imagesLeft{clear:both;float:left;width:138px}#imagesLeft
a{line-height:2em;padding-left:5px}#imagesRight{float:right}#imagesRight #flickrLogo,#flickrLogo{background:url(/e2/rv5_images/main/flickr_logo.jpg) no-repeat;display:block;height:16px;padding-right:5px;width:48px}#imagesWrapper{clear:left;height:180px;margin:0
10px;overflow:hidden;width:176px}#rightCol #imagesWrapper
ul{list-style-image:none;margin:0;padding:0;width:2000px}#rightCol #imagesWrapper
li{display:inline;float:left}#leftCol{background:#c2c2c2;float:left;width:196px}#leftCol .rss, #leftCol .podcasts, #leftCol
.standto{margin-left:10px}#leftColNav
li{font-size:11px;line-height:1.2}#leftColNav
.level3{border-left:1px solid #c2c2c2}#leftColNav
.level4{background:#fff;border-top:1px solid #c2c2c2;padding:10px
0}#leftColNav .level4
a{font-weight:normal;line-height:15px}#leftColNav .level4 a:hover{background:none;color:#3d3d3d}#leftColNav li
a.current{background:#4e4e4e;color:#fff}#leftColNav li a.current:hover{background:#4e4e4e;color:#fff}#leftColNav li
a.subNav{background:#f7f7f7;font-weight:normal;border-top:1px solid #c2c2c2}#leftColNav li a.subNav:hover{background:#f7f7f7;color:#3d3d3d}#leftColNav
li#last{border-bottom:1px solid #939393;margin:0.2em 5px 0}#leftColNav
li#sections{background:#a1a1a1;font-weight:bold;padding:0
10px}#leftColNav li
a{display:block;padding:9px
10px;width:176px}#leftColNav li a:hover{background-color:#b4b4b4;color:#3d3d3d}#leftColRSS{padding:1em
0;margin-bottom:2em}#liveSearch{position:relative;background:#525252;float:right;height:2.8em;width:26em}#liveSearch
input{color:#737373;float:left;font-size:1em;height:1.2em;margin:4px
5px;padding:0}#liveSearch
input#search{width:210px}#liveSearch
input.searchclose{background:url(/e2/rv5_images/main/searchbutton.png) no-repeat 5px 5px;border:none;color:#fff;cursor:pointer;display:inline;float:right;height:26px;width:28px;margin:0;padding:0}#liveSearchTabs{position:absolute;display:none;cursor:pointer;top:-22px;left:-1px;width:230px;height:22px;background:url(/e2/rv5_images/main/live_search_tab_1.png) no-repeat}#liveSearchTabs
li{height:22px;display:inline;float:left;text-align:center;color:#fff;font-size:11px;font-family:Verdana,Arial,Sans-serif;padding-top:7px}#liveSearchTabs1{width:36px}#liveSearchTabs2{width:64px}#liveSearchTabs3{width:66px}#liveSearchTabs4{width:64px}#liveSearchLeft{background:url(/e2/rv5_images/main/live_search_left.gif) no-repeat;float:left;height:2.8em;width:6px}#mainContent{background:#f7f7f7;float:left;padding-bottom:15px;width:800px}#mainContent #left, #mainContent
#right{display:inline;float:left;margin:20px
5px 15px}#mainContent
#left{width:458px}#mainContent
#right{width:312px}#mediaList{margin-left:5px}#mediaList, #mediaList ul, #mediaList
li{display:inline;float:left}#rightCol #mediaList
ul{margin:0;padding:0.7em 0 0.7em 3px}#rightCol #mediaList
p#all{padding:0.2em 0 0.7em 10px}#mediaList ul
li{margin:0
5px 0 0}#mediaList ul li a, #mediaList p#all
a{font-size:10px}#MyArmyHeader{padding:0}#MiniHeader{background:url(/e2/rv5_images/main/mini_header.gif) no-repeat;margin:0
auto 15px;text-indent:-9999px;display:block;height:30px;width:1024px}#MiniHeader:hover{background-position:0 -30px}#navBar{background:#cfcfcf url(/e2/rv5_images/main/nav_gradient.gif) repeat-x;border-bottom:1px solid #b6b6b6;height:2.8em}#ofInterest{border:1px
solid #4e4e4e;width:176px;margin:0
auto 2em;padding-bottom:0.6em}#ofInterest
ul{list-style-image:none;margin:1em}#reftext
h2{margin:1.6em 0}#reftext{padding-left:120px}#reftext
li{background:url(/e2/rv5_images/main/diamond_bullet.gif) no-repeat 0 3px;font-size:11px;margin:1.2em 0}#reftext li
a{font-size:11px;font-weight:normal;margin-left:20px}#reftext ul li
ul{margin-left:20px}#rightCol{display:inline;float:right;width:196px}#rightCol
h2{clear:both}#rightCol
ul{margin:1em
0 1em 15px}#rightCol
li{line-height:1.2em;margin:0.8em 0}#rightCol li
a{display:block;font-size:0.9em}#rsslist{float:left;padding-left:120px;width:480px}#rsslist ul, #rsstext
ul{margin:2em
0}#rsslist li
a{height:2em;margin-left:24px}#rsslist li
a.iTunes{margin-left:0}#rsstext{float:left;margin-top:1.2em;width:370px;line-height:1.6em;padding-right:26px}#rsstext
h2{border-bottom:1px solid #3d3d3d;margin-bottom:0.2em}#rsstext
li{margin:0.4em 0}#rsstext
li{font-size:1.1em}#securitytext
ul{margin:2em
0 2em 20px}#securitytext
li{background:url(/e2/rv5_images/main/diamond_bullet.gif) no-repeat 0 4px;margin:0.6em 0}#securitytext li
a{margin-left:15px}#socialMedia,#soldiersMag{overflow:auto}#socialMedia{position:relative;width:196px}#socialMedia
ul{margin:0;width:400px}#socialMedia ul
li{float:left;display:inline;margin:0}#socialMedia
#iconList{margin:1em
auto;overflow:hidden;width:136px}#socialMedia .next, #socialMedia
.prev{position:absolute;height:18px;margin:0
5px;width:18px}#socialMedia
.prev{left:0px;top:1em}#socialMedia
.next{right:0px;top:1em}#soldiersMag
img{float:left;margin:1em
0 1em 0.8em}#soldiersMag a, #soldiersMag
p{display:block;float:right;margin:1em
0;width:106px}#soldiersMag
a.left{float:left;margin:0;width:auto}#soldiersMag
p{line-height:1em;margin:0}#spotlight{background:#939393;height:130px;overflow:hidden;position:relative}#spotlight h3, #spotlight
p{float:left;width:340px}#spotlight
h2{background:#7a7a7a;color:#ffd54a;height:2.4em;line-height:2.4em;margin-bottom:-24px;padding-left:10px}#spotlight h2
img{border:none;margin:0
5px;position:relative;top:0.3em}#spotlight h3
a{color:#ffd54a;display:block;font-size:15px;font-weight:bold;margin:10px
0 3px}#spotlight
p{color:#fff;line-height:1.2em}#spotlight
.allFeatures{height:auto;margin-bottom:10px;position:absolute;left:106px;top:84px}#spotlight .allFeatures
a{color:#3d3d3d;font-size:10px}#spotlightBottom{background:url(/e2/rv5_images/main/spotlight_bottom.gif) no-repeat bottom left;height:5px;width:458px}.spotlightImage{clear:both;display:inline;float:left;margin:10px
10px 6px}#spotlightItems{height:110px;overflow:hidden;width:458px;position:relative}#spotlightItems
ul{height:110px;width:2000px}#spotlightItems
li{display:inline;float:left;height:110px;width:458px;position:relative}#standTo{margin:0.7em 10px}#standTo
a{display:block}#standTo
.middle{font-weight:normal;margin:0.3em 0 1.5em 0;line-height:1.2em}#standTo
.bottom{display:inline}#storyPhoto
.caption{display:block;padding:1em
0;width:668px;line-height:1.4em}#topHeadlines{list-style-type:disc;margin:0
0.4em 2em 1.6em}#topHeadlines
li{margin:0.8em 0}#topHeadlines li
a{display:block;font-size:1.2em;font-weight:normal;line-height:1.1em}#video-placeholder{border:none}#worldMedia{border:1px
solid #4e4e4e;margin:0
auto 1em;width:176px}#worldMedia
h2{background:#4e4e4e;height:3.5em;line-height:1.1em;padding-top:0.2em}#worldMedia h2
span{display:block;font-size:9px;text-transform:none}#worldMedia
ul{list-style-image:none;margin-left:10px}#worldMedia
li.links{margin:-0.5em 0 1em}#worldMedia li
a{display:inline}#wrapper{background:url(/e2/rv5_images/main/white_bg.gif) repeat-y top center;width:100%}.prev{background:url(/e2/rv5_images/main/icon_sprites.gif)          0px -76px no-repeat}.next{background:url(/e2/rv5_images/main/icon_sprites.gif)          0px -95px no-repeat}.rss{background:url(/e2/rv5_images/main/icon_sprites.gif)           0px -114px no-repeat}.podcasts{background:url(/e2/rv5_images/main/icon_sprites.gif)      0px -133px no-repeat}.standto{background:url(/e2/rv5_images/main/icon_sprites.gif)      0px -399px no-repeat}#print{background:url(/e2/rv5_images/main/icon_sprites.gif)         0px -171px no-repeat}#email{background:url(/e2/rv5_images/main/icon_sprites.gif)         0px -190px no-repeat}#share{background:url(/e2/rv5_images/main/icon_sprites.gif)         0px -361px no-repeat}#shareClose{background:url(/e2/rv5_images/main/icon_sprites.gif)    0px -380px no-repeat}#twitter{background:url(/e2/rv5_images/main/social_media.gif)       0px 0px no-repeat}#facebook{background:url(/e2/rv5_images/main/social_media.gif)      -32px 0px no-repeat}#flickr{background:url(/e2/rv5_images/main/social_media.gif)        -64px 0px no-repeat}#youtube{background:url(/e2/rv5_images/main/social_media.gif)       -96px 0px no-repeat}#vimeo{background:url(/e2/rv5_images/main/social_media.gif)         -128px 0px no-repeat}#delicious{background:url(/e2/rv5_images/main/social_media.gif)     -160px 0px no-repeat}.altHeader,#modDate{display:none}.block{clear:both;color:#fff;font-size:11px;height:26px;line-height:26px;padding-left:10px;text-transform:uppercase}.bold{font-weight:bold}.bordered{border:1px
solid #9b9b9b}.bottomNewsSection{border-right:1px solid #c3c3c3;display:inline;float:left;height:17.8em;margin:0.3em 0 0.4em 0;width:195px}#bottomNewsItems .bottomNewsSection
.textOnly{height:15em;width:180px}#bottomNewsItems .bottomNewsSection .textOnly
li{float:left;margin:0.7em 0}.centered{padding-left:0;text-align:center}.dark-gray{background:#4e4e4e}.dark-red{background:#af2020}.hide,.hide2{position:absolute;left:0px;top:-500px;width:1px;height:1px;overflow:hidden}.icon_sprite{display:block;float:left;height:19px;margin:0
4px;width:19px}.light-gray{background:#c0c0c0;color:#565656}.plainHeadline{color:#000;font-size:1.1em}.right{text-align:right}.rss,.podcasts,.standto{display:block;height:19px;line-height:19px;margin:0.4em 0}.rss .textLink, .podcasts .textLink, #email .textLink, #print .textLink, .standto
.textLink{margin-left:24px}.socialMediaSprite{display:block;float:left;height:27px;width:26px}.subPage
h1{margin-bottom:1em;margin-top:0;padding:8px
0}.subPage
h2{font-size:1.2em}.subPage
p{margin:1em
0}.subPage
#breadCrumbs{width:985px;margin-bottom:10px}.subPage
#mainContent{width:996px}.thumbnail{clear:left;float:left;margin:5px;height:75px;width:75px}.twoButtonNav{display:inline;float:right;margin-right:0px;width:90%}#socialMedia
.twoButtonNav{float:none}.video{line-height:19px;height:19px}.video
.textLink{display:block;margin-left:24px}#bottomNews .prev, #bottomNews .next, #spotlight .prev, #spotlight
.next{display:inline;float:right;height:18px;margin:4px;width:18px}#images .prev, #images
.next{display:inline;height:18px;margin:4px;width:18px}#images
.prev{float:left}#images
.next{float:right}#images
.twoButtonNav{float:none;display:block;width:100%}#homePlayerContainer #noFlashFeedBox p.noFlashText
a{display:inline;float:none;padding:0px;margin:0px}#noFlashFeedBox{height:323px;overflow:auto;background:#f7f7f7}#noFlashFeedBox .noFlashVideo p
a{margin:0px}#noFlashFeedBox .noFlashVideo
p{width:176px;margin:2px;background:#f7f7f7}.noFlashText{padding-left:6px;background:#fff}.noFlashVideo{background:#F7F7F7;clear:both;border-bottom:1px solid #b1b1b1;overflow:hidden;padding-bottom:3px}.noFlashVideo
.thumb{float:left;padding:3px;margin:5px;margin-bottom:2px;border:1px
solid #b1b1b1;width:90px}.noFlashVideo .thumb
img{width:90px;border:none}@media
print{body{background:#fff}#header,#navBar,#breadCrumbs,#leftCol,#rightCol,#footer{display:none}#mainContent{overflow:visible}}@media
handheld{}#mainContent{width:996px}#aztitle{clear:both}#aztitle
h1{margin-left:120px;margin-top:20px}#azcontent{margin:20px
0 0 120px;padding-bottom:3em}#azcontent
a{font-size:12px;font-weight:normal;line-height:1.4em}#azcontent
h2{padding:3em
0 2em}#azcontent h2
a{font-size:14px;font-weight:bold}#azcontent
h3{padding:1em
0 2em}#azcontent h3
a{font-size:12px;font-weight:bold}#azcontent
p{margin-right:340px}#azcontent ul, #azcontent
li{list-style:none}#azmenu{float:left;padding:15px
0 0 30px;width:400px}#azmenuwrapper{background:url(/e2/rv4_images/az_bg.jpg) no-repeat;margin:30px
0 0 90px;height:85px;width:730px}#azmenu
a{background:#ebebeb;color:#3d3d3d;float:left;font-size:1.2em;line-height:1.2em;margin:3px}#azmenu a:hover{text-decoration:underline}.az{position:absolute;left:-10000px;top:auto;width:1px;height:1px;overflow:hidden}.includeJavascriptControl_001
p{color:white;margin:12px;font-size:12px}.includeJavascriptControl_001 fieldset
input{width:500px}.includeJavascriptControl_001_pm{margin:15px;font-weight:bold}#overlay{background:url(/images/overlay.png) repeat;height:100%;left:0px;position:fixed;top:0px;width:100%;z-index:1999}#popup{background:transparent;display:none;left:50%;position:fixed;top:50%;z-index:2000}#ajaxContent,#iframeContent{clear:both;display:block;overflow:auto}#iframeContent, #iframeContent html, #iframeContent
body{background:transparent}#closeWindowButton{background:url(/images/addMedia_close_button.png) no-repeat;cursor:pointer;display:block;height:45px;left:636px;position:relative;top:64px;width:44px;z-index:9000}.widgetBox{position:relative;overflow:hidden}.widgetEditIcon{background:url(/images/global_sprite.png) no-repeat -362px -70px;display:block;height:25px;position:absolute;width:25px;right:0px;top:0px;z-index:1290}.widgetEditIconGreen{background:url(/images/global_sprite.png) no-repeat -337px -70px}.overlay{border:3px
solid #fecc0a}.overlayFill{background:#fc2;opacity:0.3}.overlayEffects{background:url(/images/overlay_striped_yellow.png) repeat}.overlay.hover{border:3px
dashed #7b8738}.overlay.hover
.overlayFill{background:#fff}.overlay.hover
.overlayEffects{background:url(/images/overlay_striped_green.png) repeat}.overlay.hover
.widgetEditIcon{background:url(/images/global_sprite.gif) no-repeat -230px -255px;width:108px}#addMediaContainer
h3{color:#fff;float:left;font-size:18px;font-weight:bold;line-height:1.2;margin:0.6em 0 0 12px}#librarySearch{display:inline;float:right;margin:12px
12px 0 0}#librarySearch
input{border:1px
solid #b4b4b4;color:#b4b4b4;font-size:11px;float:left;height:16px;line-height:16px;padding:2px
20px 0 2px;width:160px}#librarySearch
#searchIcon{background:url(/images/global_sprite.png) no-repeat -496px -16px;cursor:pointer;height:12px;left:167px;position:relative;top:4px;width:12px;z-index:5000}.grayBg
label{font-size:1.2em;color:#fff;margin:7px
12px}.grayBg
input{margin-top:7px}.grayBg input:focus{border:2px
solid #7b8738}#contentLibrary{clear:both;float:left;padding-bottom:1em;width:100%}#addMediaContainer
h3{margin-top:0.3em}#addMediaContainer
h4{color:#fff;float:left;font-weight:normal;font-style:italic;margin-top:14px;padding-left:15px}#librarySearch{margin-top:0.8em}#contentSelectWrapper,.contentList{clear:both;float:left}#contentSelectWrapper{padding:0.8em 0 0.3em 12px}.contentSelect{float:left;margin-right:20px}.contentSelect
select{width:180px}#addMediaContainer .contentSelect
h4{font-size:1.2em;font-style:normal;margin:0px
5px 0 0;padding:0}.contentList, .contentList li, .contentList li img,.boxLeft,.boxText,.boxRight{float:left}.contentList{padding:0
0 0 12px}.contentList
li{color:#3d3d3d;margin:0.4em 8px 0.4em 0;position:relative}.contentList li
.itemOverlay{background:#fc2;border:none;display:none;opacity:0.4;position:absolute;bottom:0;left:0;right:0;top:0;z-index:4000}.contentList
li.placeholder{background:#3d3d3d;border:1px
dashed #fc2;overflow:hidden}.contentList li
img{border:none;margin-top:1px}.contentList li
.boxText{padding:0
0 0 8px;width:218px}.contentList li
h5{font-size:1.2em;margin:0.3em 0 0.2em}.contentList li
h6{color:#5d5d5d;font-weight:normal}.contentList li h6
.author{font-weight:bold}.contentList li
.boxLeft{height:40px;width:8px}.contentList li
.boxContent{background:#f7f7f7;float:left;height:40px;width:284px}.contentList .article
.boxLeft{background:url(/images/page_management_legends_sprite.gif) no-repeat -179px -209px}.contentList .image
.boxLeft{background:url(/images/page_management_legends_sprite.gif) no-repeat -187px -209px}.contentList .video
.boxLeft{background:url(/images/page_management_legends_sprite.gif) no-repeat -195px -209px}.contentList .filler
.boxLeft{background:url(/images/page_management_legends_sprite.gif) no-repeat -203px -209px}.contentList .audio
.boxLeft{background:url(/images/page_management_legends_sprite.gif) no-repeat -211px -209px}.contentList .slideshow
.boxLeft{background:url(/images/page_management_legends_sprite.gif) no-repeat -219px -209px}.contentList li
.boxRight{background:url(/images/page_management_legends_sprite.gif) no-repeat -171px -209px;height:40px;width:8px}.contentList li
.deleteItem{background:url(/images/global_sprite.png) no-repeat scroll -240px -20px;height:11px;position:absolute;right:4px;top:4px;width:11px}.contentList li .deleteItem:hover{background-position:-251px -20px}.contentList li.itemHover
.itemOverlay{z-index:0}.contentList
li.availableDragging{opacity:0.6}.contentList li.ui-draggable-dragging{opacity:0.9}.ui-draggable,.ui-sortable-helper{cursor:move;z-index:4001}.ui-droppable{cursor:move}#libraryPag{clear:both;margin:0
auto;overflow:hidden;padding-top:8px;width:100px}#libraryPag h4, #libraryPag
a{color:#fff;float:left}#libraryPag
h4{border:1px
solid #b4b4b4;font-style:normal;height:15px;line-height:15px;margin:0;padding:0
8px}#libraryPag
a{height:17px;width:17px}#libraryPag
.libraryPrev{background:url(/images/global_sprite.gif) no-repeat scroll -136px -249px}#libraryPag
.libraryPrev.active{background:url(/images/global_sprite.gif) no-repeat scroll -136px -266px}#libraryPag
.libraryNext{background:url(/images/global_sprite.gif) no-repeat scroll -153px -249px}#libraryPag
.libraryNext.active{background:url(/images/global_sprite.gif) no-repeat scroll -153px -266px}