/*
Error: Invalid CSS after "...t 'grid-system'": expected "{", was ";"
        on line 15 of _scss/style.scss

10: @import 'globals/base/images';
11: ​
12: // ----------------------------------------------------------------------
13: // Layout
14: // ----------------------------------------------------------------------
15: @import 'grid-system';
16: @import 'grid';
17: ​
18: // ----------------------------------------------------------------------
19: // globals/modules
20: // ----------------------------------------------------------------------

Backtrace:
_scss/style.scss:15
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:1163:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:1099:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:1094:in `tok!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:641:in `block'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:635:in `ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:660:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:653:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:117:in `stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:42:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/engine.rb:393:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/exec/sass_scss.rb:375:in `run'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/exec/base.rb:40:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/bin/sass:13:in `<top (required)>'
/usr/bin/sass:23:in `load'
/usr/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...t 'grid-system'\": expected \"{\", was \";\"\A         on line 15 of _scss/style.scss\A \A 10: @import 'globals/base/images';\A 11: ​\A 12: // ----------------------------------------------------------------------\A 13: // Layout\A 14: // ----------------------------------------------------------------------\A 15: @import 'grid-system';\A 16: @import 'grid';\A 17: ​\A 18: // ----------------------------------------------------------------------\A 19: // globals/modules\A 20: // ----------------------------------------------------------------------"; }
