/*
Error: Invalid CSS after "...odules/buttons'": expected "{", was ";"
        on line 21 of _scss/style.scss

16: // @import 'grid';
17: ​
18: // ----------------------------------------------------------------------
19: // globals/modules
20: // ----------------------------------------------------------------------
21: @import 'globals/modules/buttons';
22: @import 'globals/modules/header';
23: @import 'globals/modules/sub-header';
24: @import 'globals/modules/social';
25: @import 'globals/modules/footer';
26: @import 'globals/modules/home/menu';

Backtrace:
_scss/style.scss:21
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:1163:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:1099:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:1094:in `tok!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:641:in `block'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:635:in `ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:660:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:653:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:117:in `stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/scss/parser.rb:42:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/engine.rb:393:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/exec/sass_scss.rb:375:in `run'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/exec/base.rb:40:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.4/bin/sass:13:in `<top (required)>'
/usr/bin/sass:23:in `load'
/usr/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...odules/buttons'\": expected \"{\", was \";\"\A         on line 21 of _scss/style.scss\A \A 16: // @import 'grid';\A 17: ​\A 18: // ----------------------------------------------------------------------\A 19: // globals/modules\A 20: // ----------------------------------------------------------------------\A 21: @import 'globals/modules/buttons';\A 22: @import 'globals/modules/header';\A 23: @import 'globals/modules/sub-header';\A 24: @import 'globals/modules/social';\A 25: @import 'globals/modules/footer';\A 26: @import 'globals/modules/home/menu';"; }
