@import "defaults";

.container {
  a {
    @include link-underline;
  }

  h4 {
    font: 700 1.5em $font-family;
    margin: 0 0 54px;
    text-transform: uppercase;

    &::after {
      background: map-get($army-branding, gold);
      content: '';
      display: block;
      height: 5px;
      margin: 20px 0 0;
      width: 60px;
    }
  }

  @include breakpoints(tablet nav mobile) {
    h4 {
      font: 700 1.3em $font-family;
      margin: 0 0 40px;
      text-align: center;

      &:after {
        margin: 10px auto 0;
      }
    }
  }
}

#azmenu a {
  background-color: #EBEBEB;
  color: #3D3D3D;
  font-size: 1.2em;
  padding: 7px 12px;
  margin: 3px;
  display: inline-block;
}

#azmenu a:hover {
  text-decoration: underline;
}

.a-z {
  h4 {
    margin: 60px 0 54px;

    &.first {
      margin: 0 0 54px;
    }

    a:focus,
    a:hover {
      text-decoration: none;
    }
  }

  @include breakpoints(lg_tablet sm_desktop desktop large really_big) {
    h4 {
      a {
        overflow: hidden;
        position: relative;

        &:after {
          content: '#';
          position: inherit;
          right: -40px;

          @include opacity(0);

          @include custom-transition(right 0.25s ease, opacity 0.25s ease);
        }

        &:hover {
          &:after {
            right: -10px;

            @include opacity(1);
          }
        }
      }
    }
  }


  ul {
    @include row(true);

    li {
      @include span(12);

      a.ankor:focus,
      a.ankor:hover {
        text-decoration: none;
      }

      ol {
        list-style: decimal;
        overflow: hidden;

        li ul {
          list-style: outside;
          overflow: hidden;
        }
      }

      ul {
        list-style: outside;
        overflow: hidden;
      }
    }
  }

  #azcontent {
    padding-bottom: 3em a {
      font-size: 12px;
      font-weight: normal;
      line-height: 1.4em;
    };

    h2 {
      position: relative;
      margin-bottom: 45px;
      margin-top: 45px;
    }

    h3 {
      padding: 1em 0;
      font-size: 14px;
      font-weight: bold a;
    }
  }

  a.jump-link {
    height: 0;
    position: absolute;
    text-indent: -10000px;
    top: -100px;
    width: 0;
  }

  h2:first-child {
    margin: 0 0 54px;
  }
}

#azcontent {
  ul {
    @include row(true);

    font-size: .8em;
    list-style: outside;
    padding-left: 30px;

    li {
      @include span(12);

      a {
        display: inline-block;
        font: 400 1.25em / 1.375em $font-family;
        padding: 0 0 15px 0;
        position: relative;
        top: 2px;
        vertical-align: top;
      }
    }
  }
}

.top {
  top: 0;
}

.to-top {
  background: map-get($army-branding, grey40);
  border-radius: 50%;
  bottom: 30px;
  height: 50px;
  position: fixed;
  right: -100%;

  @include opacity(0);

  @include custom-transition(opacity 0.25s ease);

  &.visible {
    @include opacity(0.7);

    right: 30px;
  }

  @include breakpoints(lg_tablet sm_desktop desktop large really_big) {
    &:hover.visible {
      @include opacity(1);
    }
  }


  a {
    padding: 20px;

    span {
      background: transparent $social-button-sprite no-repeat scroll -180px -59px;
      display: inline-block;
      height: 11px;
      margin: 20px 0 0;
      width: 13px;
    }
  }
}
