
// ----------------------------------------------------------------------
// globals/modules
// ----------------------------------------------------------------------
@import "defaults";

/* Last Modified 2016-04-05 1255 FKM */

body {
background: #FFF;
color: #000;
line-height: 1
}
ol,ul {
list-style: none
}
body {
background: #7A7A7A url(/e2/rv5_images/main/body_gradient.jpg) repeat-x;
color: #3D3D3D
}
a {
color: #3D3D3D;
font-weight: bold;
text-decoration: none
}
a:hover {
color: #7B8738
}
h1,h2,h3,h4,h5,h6 {
font-weight: bold
}
h1 {
font-size: 2.6em;
line-height: 1.2em;
padding: 8px 0
}
img {
border: 1px solid #3D3D3D
}
p {
font-size: 1.1em;
line-height: 1.4em
}

#gift {
clear: both;
padding-bottom: 0
}

#azcontent {
margin: 20px 0 0 120px;
padding-bottom: 3em
}
#azcontent a {
font-size: 12px;
font-weight: normal;
line-height: 1.4em
}
#azcontent h2 {
padding: 3em 0 2em
}
#azcontent h2 a {
font-size: 1.4em;
font-weight: bold
}
#azcontent p {
margin-right: 340px
}
#azmenu {
padding: 15px 0 0 30px
}
#azmenuwrapper {
background: url(/e2/rv5_images/main/az_bg.jpg) no-repeat;
margin: 30px 0 0 90px;
height: 85px;
width: 730px
}
#azmenu a {
background-color: #EBEBEB;
color: #3D3D3D;
font-size: 1.2em;
line-height: 2.2em;
padding: 2px 6px
}
#azmenu a:hover {
text-decoration: underline
}
#aztitle {
clear: both
}
#aztitle h1 {
margin-left: 120px
}

#contentBackground {
background: url(/e2/rv5_images/main/3column.gif) repeat-y;
width: 100%;
overflow: hidden;
margin-top: 68px
}
#dropDownNav li:hover,UNUSED#dropDownNav li.sfHover,UNUSED#dropDownNav li a:active,#dropDownNav li:hover a,UNUSED#dropDownNav li.sfHover a {
background: url(/e2/rv5_images/main/nav_hover_gradient.gif) repeat-x;
color: #3D3D3D
}
UNUSED#dropDownNav li ul li a,#dropDownNav li:hover li a,UNUSED#dropDownNav li.sfHover li a {
background: none;
color: #3D3D3D;
display: block;
height: auto;
padding: 0 0 0 10px;
width: 139px
}
#dropDownNav li ul li a:focus,#dropDownNav li ul li a:hover {
background-image: none;
background-color: #C4C4C4
}


#footerMiddle {
margin: 1.6em auto 0.4em;
width: 720px
}
#footerRight {
float: right;
text-align: right
}

#leftColNav .level4 a:hover {
background: none;
color: #3d3d3d
}
#leftColNav li a.current:hover {
background: #4e4e4e;
color: #fff
}
#leftColNav li a.subNav:hover {
background: #f7f7f7;
color: #3d3d3d
}
#leftColNav li a:hover {
background-color: #b4b4b4;
color: #3d3d3d
}
#mainContent {
background: #f7f7f7;
float: left;
padding-bottom: 15px;
width: 800px
}

#mainContent #left {
width: 458px
}
#mainContent #right {
width: 312px
}
#mediaList {
display: inline;
float: left
}

#MiniHeader:hover {
background-position: 0 -30px
}
#rsstext li {
font-size: 1.1em
}
#socialMedia {
position: relative;
width: 196px
}
#socialMedia .prev {
left: 0px;
top: 1em
}
#socialMedia .next {
right: 0px;
top: 1em
}
#soldiersMag p {
line-height: 1em;
margin: 0
}
#spotlight p {
color: #fff;
line-height: 1.2em
}
.right {
text-align: right
}
.rss,.podcasts,.standto {
display: block;
height: 19px;
line-height: 19px;
margin: 0.4em 0
}
#images .prev {
float: left
}
#images .next {
float: right
}
@media print {body {
background: #fff
}
#header,#navBar,#breadCrumbs,#leftCol,#rightCol,#footer {
display: none
}
#mainContent {
overflow: visible
}

}
#mainContent {
width: 100%
}
#aztitle {
clear: both
}
#aztitle h1 {
margin-left: 120px;
margin-top: 20px
}
#azcontent {
margin: 20px 0 0 120px;
padding-bottom: 3em
}
#azcontent a {
font-size: 12px;
font-weight: normal;
line-height: 1.4em
}
#azcontent h2 {
padding: 3em 0 2em
}
#azcontent h2 a {
font-size: 14px;
font-weight: bold
}
#azcontent h3 {
padding: 1em 0 2em
}
#azcontent h3 a {
font-size: 12px;
font-weight: bold
}
#azcontent p {
margin-right: 340px
}
#azcontent ul,#azcontent li {
list-style: none
}
#azmenu {
float: left;
padding: 15px 0 0 30px;
width: auto
}
#azmenuwrapper {
background: url(/e2/rv4_images/az_bg.jpg) no-repeat;
margin: 30px 0 0 90px;
height: 85px;
width: auto
}
#azmenu a {
background: #ebebeb;
color: #3d3d3d;
float: left;
font-size: 1.2em;
line-height: 1.2em;
margin: 3px
}
#azmenu a:hover {
text-decoration: underline
}
.az {
position: absolute;
left: -10000px;
top: auto;
width: 1px;
height: 1px;
overflow: hidden
}
#iframeContent {
background: transparent
}
.grayBg input:focus {
border: 2px solid #7b8738
}
#addMediaContainer h3 {
margin-top: 0.3em
}
#librarySearch {
margin-top: 0.8em
}
#contentSelectWrapper {
padding: 0.8em 0 0.3em 12px
}
.contentList {
float: left
}
.contentList {
padding: 0 0 0 12px
}
.contentList li {
color: #3d3d3d;
margin: 0.4em 8px 0.4em 0;
position: relative
}
.contentList li img {
border: none;
margin-top: 1px
}
.contentList li .deleteItem:hover {
background-position: -251px -20px
}
#libraryPag h4 {
border: 1px solid #b4b4b4;
font-style: normal;
height: 15px;
line-height: 15px;
margin: 0;
padding: 0 8px
}
#libraryPag a {
height: 17px;
width: 17px
}

