//*,
//*:after,
//*:before {
//  margin: 0;
//  padding: 0;
//  -webkit-box-sizing: border-box;
//  -moz-box-sizing: border-box;
//  box-sizing: border-box;
//}

body {
  background: map-get($army-branding, white);
  color: $primary-text-color;
  font: 400 1em/1.375em $font-family;
  height: 100%;
  margin: 0;
}

h2 {
  font: 700 1.5em/1.25em $font-family;
  margin: 100px 0 54px;
  text-transform: uppercase;
  transition: font-size 0.25s ease 0s;

  &:after {
    background-color: map-get($army-branding, gold);
    content: "";
    display: block;
    height: 5px;
    margin: 20px 0 0;
    width: 60px;
  }

  @include breakpoints(mobile nav tablet) {
    font: 700 1.3em $font-family;
    margin-bottom: 40px;
    text-align: center;
    
    &:after {
      margin: 10px auto 0;
    }
  }

  // 700 - 992
  @include breakpoints(tablet lg_tablet) {
    margin-top: 60px;
  }
  
  // 480 - 699
  @include breakpoints(nav mobile) {
    margin-top: 50px;
  }
}


h1,
h2,
h3,
h4 {
  @include custom-transition(font-size .25s);
}

p {
  font: 400 1em/1.625em $font-family;
  margin: 0 0 25px;
  
  &.bold {
    font-weight: 700;
  }
  
  &.last, &:last-child {
    margin: 0;
  }
  
  &.footer-links {
    margin: 0 auto;
    text-align: center;
  }
}

a {
  text-decoration: none;
  
  &.download {
    display: block;
    padding: 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
  }
}

blockquote {
  position: relative;
  
  &:before, &:after {
    content: '';
    height: 60px;
    position: absolute;
    width: 82px;
    z-index: 0;
  }
  
  &:before {
    background: transparent $social-button-sprite no-repeat -330px -100px;
    left: 0;
    top: -20px;
  }
  
  &:after {
    background: transparent $social-button-sprite no-repeat -413px -100px;
    bottom: -20px;
    right: 0;
  }
}

.hidden {
  display: none;
  height: 0px;
  left: -100000px;
  position: absolute;
  width: 0px;
}

