<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/e2/css/rv7/organization/style.css" type="text/css" media="screen">
</head>
<body>
    {% include globals/header.blade.php %}
        
    {{ content }}
    
    {% include globals/social.blade.php %}
    {% include globals/footer.blade.php %}
    {% include scripts.html %}
</body>
</html>

