<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>A-Z | The United States Army</title>
    <meta name="description" content="The U.S. Army A-Z index for installations, commands, organizations and more">
    <meta property="keywords" name="keywords" content="US Army,Army,ARMY.mil,army news,army a-z,us army divisions,united states army divisions,united states army records,army records,us army bases,us army posts,AKO"/>
    <meta property="description" name="description" content="Information, contacts and bios from the Office of Public Affairs for the U.S. Army"/>
    <link rel="stylesheet" href="/e2/css/rv7/a-z/style.css" type="text/css" media="screen">
</head>
<body id="{{ page.active }}" class="{{ page.id }}" >
    {% include globals/elements/header.html %}
    {{ content }}
    {% include globals/elements/footer.html %}
    <script type="text/javascript" src="/e2/js/rv7/a-z/a-z.min.js"></script>
</body>
</html>

